<nav id="desktop-nav">
    <div class="logo">
        <img src="/IM-Exam-Portfolio/assets/LowResLogo3.png" alt="logo">
        <span class="logo-text">Tanya Freese</span>
    </div>

    <div>
        <ul class="nav-links">
            <li><a href="/IM-Exam-Portfolio/index.html">Home</a></li>
            <li><a href="/IM-Exam-Portfolio/index.html#about">About</a></li>
            <li><a href="/IM-Exam-Portfolio/index.html#skills">Skills</a></li>
            <li><a href="/IM-Exam-Portfolio/portfolio.html">Portfolio</a></li>
            <li><a href="/IM-Exam-Portfolio/contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="hamburger">
        <img src="/IM-Exam-Portfolio/assets/HamburgerIcon2.png" alt="menu">
    </div>
</nav>